@media only screen and (max-width:1920px) {

}
@media only screen and (max-width:1757px) {

}
@media only screen and (max-width:1626px) {

}
@media only screen and (max-width:768px) {
    img{
        width: 200px;
    }
}
