// out: ../css/media.css, compress: true, strictMath: true
@import "prefixer";
@media all and (max-width: 1023px) {
    .about-us {
        img {
            margin-bottom: 50px;
        }
    }
}

@media all and (max-width: 979px) {
    .about-us {
        img {
            margin-bottom: 15px;
        }
    }
}

@media all and (max-width: 929px) {
    .gallery {
        .categories {
            width: 796px;
            &:after {
                word-spacing: 263px;
                padding-left: 1px;
                font-size: 1px;
            }
        }
        .category-item {
            width: 220px;
            height: 220px;
        }
        .category-name {
            font-size: 18px;
        }
    }
}

@media all and (max-width: 839px) {
    .gallery {
        .categories {
            width: 530px;
        }
    }
}

@media all and (max-width: 767px) {}

@media all and (max-width: 639px) {
    .content-area {
        padding: 0 10px;
    }
    .header {
        .content-area {
            padding-bottom: 10px;
        }
        .main-logo {
            display: block;
            float: none;
            text-align: center;
            div {
                padding: 10px 0;
                font-size: 16px;
            }
        }
        .header-phones {
            float: none;
            text-align: center;
            p {
                font-size: 14px;
            }
            div {
                margin: 10px 0;
                a {
                    font-size: 20px;
                }
                &.mail a{
                    font-size: 16px;
                }
            }

        }
    }
    .gallery {
        .categories {
            margin-bottom: 0;
        }
    }
    .contacts {
        .contacts-row {
            width: 245px;
            line-height: 30px;
        }
        .icon {
            margin-top: 15px;
        }
        .map {
            height: 250px;
        }
    }
}

@media all and (max-width: 599px) {
    h2 {
        text-align: center;
    }
    .about-us {
        text-align: justify;
        img {
            width: 350px;
            display: block;
            margin: auto;
            float: none;
        }
    }
    .gallery {
        text-align: center;
        h2 {
            margin-bottom: 25px;
        }
        .categories {
            width: 420px;
            &:after {
                word-spacing: 209px;
            }
        }
        .category-item {
            width: 185px;
            height: 185px;
            margin: 10px;
        }
        .category-name {
            font-size: 16px;
        }
    }
    .my-gallery {
        figure {
            margin: 2px;
        }
    }
}

@media all and (max-width: 479px) {
    .menu {
        background-image: url(../img/esc-128.png);
        background-repeat: no-repeat;
        background-position: 8% 50%;
        background-size: 64px 64px;
        .nav {
            padding: 0;
        }
        a {
            width: 120px;
            display: block;
            margin: 10px auto;
            text-align: center;
            font-size: 22px;
        }
        &.hidden {
            background-image: url(../img/menu-128.png);
            background-position: 50% 50%;
            .content-area {
                height: 84px;
            }
            a {
                font-size: 0;
                margin: 0 auto;
            }
        }
    }
    .about-us {
        img {
            width: 100%;
        }
    }
    .gallery {
        text-align: center;
        .categories {
            width: 350px;
            &:after {
                word-spacing: 172px;
            }
        }
        .category-item {
            width: 160px;
            height: 160px;
            margin: 5px;
        }
        .category-name {
            font-size: 14px;
        }
    }
    .contacts {
        .contacts-row {
            width: 245px;
        }
        .icon {
            margin-right: 20px;
            margin-left: 10px;
        }
    }
    .my-gallery {
        figure {
            a {
                width: 145px;
                height: 145px;
            }
        }
    }
    .more-link {
        @width: 60px;
        width: @width;
        height: @width;
        line-height: (@width - 5px);
        font-size: 24px;
    }
}

@media all and (max-width: 419px) {
    .menu {
        background-size: 48px 48px;
        &.hidden {
            .content-area {
                height: 58px;
            }
        }
    }
    .gallery {
        .categories {
            width: auto;
            text-align: center;
        }
        .category-item {
            width: 240px;
            margin: 10px;
        }
        .category-name {
            font-size: 16px;
        }
    }
}

//min 320
@media all and (max-width: 359px) {
    .header {
        .main-logo {
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 319px) {
    .gallery .category-item {
        width: 200px;
        margin: 5px;
    }
    .contacts {
        .icon {
            margin-right: 10px;
            margin-left: 5px;
        }
        .contacts-row {
            width: 100%;
        }
    }
}
