// out: ../css/style.css, compress: true, strictMath: true
@import "prefixer";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic);
a
{
    text-decoration: none;
    outline: none;
    //    &:hover,
    //    &:active,
    //    &:visited,
    //    &:link {
    //        color: inherit;
    //        text-decoration: none;
    //    }
}

html {
    height: 100%;
    background: #fff;
    //        min-width: 1024px;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #180B1A;
    color: #fff;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
button {
    outline: none;
}

img {
    border: none;
}

h2 {
    font-size: 32px;
}

.clear-up {
    &:before {
        content: " ";
        width: 100%;
        display: inline-block;
        clear: both;
    }
}

.clear-down {
    &:after {
        content: " ";
        width: 100%;
        display: inline-block;
        clear: both;
    }
}

.clear {
    &:before,
    &:after {
        content: " ";
        width: 100%;
        display: inline-block;
        clear: both;
    }
}

.fixed {
    width: 100%;
    position: fixed;
}

.justify {
    text-align: justify;
    //    Лекарство для IE6-7
    //    text-justify: newspaper;
    //    zoom: 1;
    //    text-align-last: justify;
    -ms-text-justify: distribute-all-lines;
    font-size: 0;
    &:before,
    &:after {
        content: " ";
        width: 100%;
        height: 0;
        display: inline-block;
        clear: both;
    }
}

.middle {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

//для opera 12.17
@media (min-resolution: .001dpcm) {
    _:-o-prefocus,
    .justify {
        font-size: 0.5px;
        font-family: sans-serif;
    }
}

//стили блоков таблично-плиточного отображения начало
.tile-set {
    padding: 7px;
    &:before,
    &:after {
        content: " ";
        display: table;
        clear: left;
    }
    .tile-item {
        width: 50%;
        padding: 7px;
        float: left;
        display: table;
        .box-sizing(border-box);
        .tile-container {
            height: 310px;
            display: table-cell;
            position: relative;
            .box-sizing(border-box);
            background-repeat: no-repeat;
        }
    }
}

//стили блоков таблично-плиточного отображения конец
.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}
.sentence{
    display: inline-block;
}

.main-container {
    //    max-width: 1366px;
    min-height: 10px;
    position: relative;
    margin: 0 auto;
}

.content-area {
    position: relative;
    padding: 0 20px;
    max-width: 1007px;
    margin: 0 auto;
    .box-sizing(border-box);
}

.sellar {
    width: 100%;
    height: 1px;
    display: block;
    //        position: absolute;
    bottom: 0;
    clear: both;
    background-color: #222;
    background: linear-gradient(to right, transparent, #443838, transparent);
}

.icon {
    @width: 32px;
    width: @width;
    height: @width;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/sprite.png);
    background-size: 64px;
    &.signpost {
        background-position: 0 0;
    }
    &.schedule {
        background-position: -32px 0;
    }
    &.phone {
        background-position: 0 -32px;
    }
    &.email {
        background-position: -32px -32px;
    }
    &.instagram {
        background-position: 0 -64px;
        .transition(.4s cubic-bezier(0.55, 0.04, 0.52, 1.01) 0s);
        &:hover {
            .opacity(.7);
            filter: alpha(opacity=70);
            //                background-position: -32px -64px;
        }
    }
}

.header {
    padding: 15px 0 0 0;
    .box-sizing(border-box);
    background-color: #fff;
    color: #180B1A;
    font-size: 0;
    .main-logo {
        //        width: 400px;
        display: inline-block;
        vertical-align: top;
        float: left;
        text-align: center;
        a {
            display: block;
            img {
                max-width: 320px;
                max-height: 80px;
            }
        }
        div {
            display: block;
            //            margin-left: 55px;
            text-align: center;
            padding: 5px 0 15px;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
    .header-phones {
        padding-top: 8px;
        //        display: inline-block;
        //        margin-top: 12px;
        text-align: right;
                float: right;
        p {
            margin: 0 0 6px;
            font-size: 12px;
        }
        div {
            a {
                //display: block;
                color: inherit;
                font-size: 16px;
                &:hover {
                    text-decoration: underline;
                }
            }

            &.mail {
                margin: 4px 0px;
                font-size: 12px;
            }
        }

    }
}

.menu {
    background-color: #180B1A;
    z-index: 10;
    .transition(background-position .2s cubic-bezier(0.55, 0.04, 0.52, 1.01) 0s);
    &.fixed {
        top: 0;
    }
    .content-area {}
    .nav {
        max-width: 400px;
        margin: 0 auto;
        padding: 15px 0;
    }
    a {
        display: inline-block;
        margin: 0 0;
        color: #fff;
        font-size: 18px;
        .transition(.2s cubic-bezier(0.55, 0.04, 0.52, 1.01) 0s);
        &:hover {
            color: #ADADAD;
        }
    }
    .sellar {
        width: 85%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }
}

.about-us {
    padding: 25px 0 0 0;
    .content-area {
        //        &.sellar {
        //            &:after {
        //                content: '';
        //                margin: 40px 0 0 0;
        //            }
        //        }
    }
    h2 {
        margin-bottom: 25px;
    }
    img {
        width: 300px;
        margin: 5px 20px 20px 0;
        float: left;
    }
}

.gallery {
    padding: 25px 0 0 0;
    .content-area {}
    h2 {
        margin-bottom: 15px;
    }
    h4 {}
    p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .categories {
        width: 856px;
        margin: 0 auto 25px;
        text-align: left;
        //&:after {
        //    content: ' . . . ';
        //    display: inline;
        //    word-spacing: 279px;
        //    padding-left: 8px;
        //    font-size: 1px;
        //    visibility: hidden;
        //}
    }
    .category-item {
        width: 240px;
        height: 240px;
        display: inline-block;
        margin: 20px;
        position: relative;
        overflow: hidden;
        border: 1px solid #443838;
        .border-radius(4px);
        .box-shadow(0px 0px 10px #443838);
        &:hover .category-name {
            .opacity(0.80);
            filter: alpha(opacity=80);
            height: 100%;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .category-name {
        width: 100%;
        height: 30%;
        //        height: 100%;
        position: absolute;
        bottom: 0;
        padding: 0px 8px;
        .box-sizing(border-box);
        font-size: 20px;
        color: #fff;
        text-align: center;
        background-color: #000;
        .opacity(0.65);
        filter: alpha(opacity=65);
        .transition(0.5s);
        .table {
            width: 100%;
            height: 100%;
        }
    }
}

.contacts {
    padding: 25px 0 0 0;
    h2 {
        margin-bottom: 35px;
    }
    a {
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
    .contacts-row {
        width: 215px;
        display: inline-block;
        margin: 5px 0px;
        vertical-align: top;
        clear: both;
        font-size: 16px;
        //        img {
        //            margin: 7px 12px 7px 7px;
        //            float: left;
        //        }
    }
    .icon {
        margin: 7px;
        float: left;
    }
    .map {
        width: 100%;
        height: 350px;
        margin: 40px 0 20px;
        .background-size(cover);
    }
}

.footer {
    padding: 0 0 20px;
    .box-sizing(border-box);
    .sellar {
        margin: 0 0 20px;
    }
    .copyright {
        text-align: center;
        font-size: 13px;
    }
}

.more-link {
    @width: 100px;
    width: @width;
    height: @width;
    line-height: (@width - 5px);
    display: block;
    margin: 20px auto 25px;
    .border-radius(50%);
    border: 3px solid;
    font-size: 35px;
    text-align: center;
    color: #fff;
    clear: both;
    .transition(.4s cubic-bezier(0.55, 0.04, 0.52, 1.01) 0s);
    &:hover {
        color: #00FDFF;
    }
}

.single-gallery {
    padding: 20px 0 0 0;
    h2 {
        margin: 0 7% 1em 36px;
    }
    .icon {
        display: block;
        margin: 12px 5% 12px 12px;
        position: absolute;
        right: 0;
    }
}

.my-gallery {
    width: 100%;
    margin: 0 0 25px;
    //text-align: center;
    font-size: 0;
    figure {
        display: inline-block;
        margin: 3px;
        a {
            width: 150px;
            height: 150px;
            display: block;
            position: relative;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    figcaption {
        display: none;
    }
    //&:after {
    //    content: ' i i i i i i i i ';
    //    display: inline;
    //    word-spacing: 155px;
    //    //        padding-left: 1px;
    //    font-size: 1px;
    //    visibility: hidden;
    //}
}

@import "media";
